<h1>Piotr Jedyk</h1>

<ul>
    <li>Rozkład średniej arytmetycznej z próby</li>
    <li>Rozkład t-Studenta</li>
    <li>Test losowości próby (serii, Walda-Wolfowitza)</li>
    <li>Prawdopodobieństwo warunkowe, test niezależności x2</li>
</ul>

<h2>Rozkład średniej arytmetycznej z próby</h2>

<p mathjax>
    <strong>Def.</strong> Próbą losową prostą nazywamy ciąg \(n\)-zmiennych
    losowych \((X_1, X_2, \ldots, X_n)\) niezależnych i posiadających jednakowe
    rozkłady takie jak rozkład zmiennej losowej \(X\) w populacji generalnej.
</p>

<p mathjax>
    <strong>Def.</strong> Statystyką (z próby) nazywamy zmienną losową \(Z_n\)
    będącą funkcją zmiennych losowych \(X_1, X_2 , \ldots, X_n\) stanowiących
    próbę losową.
</p>

<h3>Rozkład normalny, znane <span mathjax>\(\sigma\)</span></h3>

<p mathjax>
    Jeśli \(X \sim N(m, \sigma)\) to <strong>średnia arytmetyczna
    z próby</strong> \({{"\\overline{X} = \\frac{1}{n}\\sum_{i=1}^n X_i"}}\)
    ma rozkład \({{"\\overline{X} \\sim N\\left(m, \\frac{\\sigma}{\\sqrt{n}\}\\right)"}}\).
</p>

<h3>Rozkład normalny, nieznane <span mathjax>\(\sigma\)</span></h3>

<p mathjax>
    Średnią arytmetyczną z próby można doprowadzić do postaci standardowej
    \({{"Z = \\frac{\\overline{X}-m}{\\sigma}\\sqrt{n}"}}\). Zmienna losowa tej
    postaci ma rozkład t-Studenta. Dla wielkości próbki \(n\) stosuje się
    rozkład o \(n-1\) stopniach swobody. Wartość oczekiwana wynosi \(0\),
    odchylenie standardowe \({{"\\frac{\\sqrt{n-1}\}{\\sqrt{n-3}\}"}}\)
</p>

<h2>Rozkład t-Studenta</h2>

<p mathjax>
    <strong>Def.</strong> Rozkład Studenta z \(n\) stopniami swobody jest
    rozkładem zmiennej losowej \(T\) postaci:
    \({{"T = \\frac{U}{\\sqrt{Z}\}\\sqrt{n}"}}\), gdzie \(U\) jest zmienną
    losową mającą standardowy rozkład normalny, \(Z\) jest zmienną losową
    o rozkładzie chi kwadrat o \(n\) stopniach swobody oraz \(U\) i \(Z\) są
    niezależne.
</p>

<h2>Test losowości próby (serii, Walda-Wolfowitza)</h2>

113

<h2>Prawdopodobieństwo warunkowe, test niezależności x2</h2>

124
