<h1>Monika Bartczak</h1>
<ul>
    <li>Miary średnie: </li>
    <ul>
      <li>średnie klasyczne: arytmetyczna, harmoniczna, geometryczna, </li>
      <li>średnie pozycyjne: dominanta, kwantyle, </li>
    </ul>
    <li>Estymacja przedziałowa: przedział ufności dla prawdopodobieństwa:</li>
    <ul>
        <li>przedział dla średniej populacji normalnej, </li>
        <li>przypadek, gdzie jest znane odchylenie, </li>
        <li>przypadek, gdzie jest nieznane odchylenie. </li>
    </ul>
</ul>

<div class="miary">
    <h1>Miary średnie: </h1>
    <form class="form">
        <div class="row">
          <div class="form-group col-4">
            <p>Wprowadź dane (np. 1, 2, -5, 5)</p>
          </div>
        </div>

        <div class="form-group col-6">

        </div>

        <div class="form-group col-6">
        </div>

        
    </form>
</div>
<!--<div class="my">
    <h1>Miary średnie: </h1>
    <form class="form">
        <label for="manuallyGeneratedNumbersInput">Wprowadź dane (np. -5, 1, 8, 7, 2 )</label>
      <textarea
        [(ngModel)]="ManuallyGeneratedNumbers"
        class="form-control min"
        name="manuallyGeneratedNumbersInput"
      >
      </textarea>
    </form>
</div>-->
