cite {
    font-size: 14px;
}

.sw-graph {
    width: 100%;
    height: 400px;
    text-align: center;
    line-height: 400px;
    background-color: #aaa;
    // border: 1px solid dimgray;
    margin-bottom: 10px;
}
