<h1>Piotr Łuczak</h1>

<ul>
    <li>dystrybuanta</li>
    <li>miary rozproszenia względne: współczynnik zmienności</li>
    <li>testowanie hipotez statystycznych: hipoteza statystyczna, hipoteza sprawdzana</li>
</ul>

<div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
    <div style="width: 80vw;">
        <h2>dystrybuanta</h2>
        <img src="assets/img/dystrybuanta.svg" alt="" style="height: 3em;">
    </div>
    <div style="width: 80vw;">
        <h2>współczynnik zmienności</h2>
        <img src="assets/img/zmiennosc.svg" alt="" style="height: 3em;">
    </div>
    <div style="width: 80vw;">
        <h2>hipoteza statystyczna & hipoteza sprawdzana</h2>
    </div>
</div>